<h1>LeaderBoard</h1>
<%@leaderboard.values.each do |leader|%>
  <%leader.values.each do |board| %>
    <%board.each do |key, value| %>
      <ul>
        <li> <b>name</b><%= key[:name] %> , <b>rating</b> <%= key[:ratings_average] %>, <%= key[:avatar].values.first[:url] %></li>
      </ul>
    <%end %>
    <%end %>
<%end %>
