<!-- <h1>Newest Rating</h1> -->
<!-- <br>
<br> -->

  <div class="four wide column">
    <table class="ui very basic collapsing celled table">
      <tbody id='newest_rating'>
      </tbody>
    </table>
    <br>
  </div>
