<h1>Recent Ratings</h1>
<br>
<br>

<div class="ui grid">
  <div class="one wide column">_ICON_</div>
  <div class="four wide column"><h2>New Rating: _STARS_!</h2></div>
  <div class="eight wide column"></div>
  <div class="three wide column">_MEMBER PICS_</div>
  <div class="sixteen wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"><h3>_TRANSACTION CODE_</h3></div>
  <div class="four wide column"><h3>- _STARS_ !</h3></div>
  <div class="four wide column"></div>
  <div class="sixteen wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"><h3>_CUSTOMER NAME_</h3></div>
  <div class="four wide column"><h3>_CUSTOMER CODE_</h3></div>
  <div class="four wide column"></div>
  <div class="sixteen wide column"></div>
  <div class="two wide column"></div>
  <div class="twelve wide column"><h1>_CUSTOMER COMMENTS WILL RECENTER WITH MORE TEXT_</h1></div>
  <div class="two wide column"></div>
  <div class="sixteen wide column"></div>
  <div class="sixteen wide column"><h2>Previous Ratings</h2></div>
  <div class="two wide column"><h3>_PERSON_</h3></div>
  <div class="one wide column"></div>
  <div class="four wide column"><h3>_TIME SINCE MOST RECENT_</h3></div>
  <div class="six wide column"></div>
  <div class="three wide column">_STAR RATING_</div>
  <div class="sixteen wide column"></div>
  <div class="two wide column"><h3>_PERSON_</h3></div>
  <div class="one wide column"></div>
  <div class="four wide column"><h3>_TIME SINCE MOST RECENT_</h3></div>
  <div class="six wide column"></div>
  <div class="three wide column">_STAR RATING_</div>
</div>
