<!DOCTYPE html>
<html>
<head>
  <title>MyTreloraLeaderBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="ui text container">
      <div href="#" class="ui inverted header">
        <br>
        <img class="ui inverted header" src="assets/images/logo.png">
      </div>
  </div>

<div class="ui container">
  <%= yield %>
</div>

</body>
</html>
