<!DOCTYPE html>
<html>
<head>
  <title>TRELORA Leaderboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background">
    <div class="background-overlay">

    <div class="ui text container">
      <div href="#" class="ui centered header">
        <br>
        <img class="ui small image" src="https://www.mytrelora.com/images/trelora.png">
      </div>
  </div>


<div class="ui container">
  <br>
  <%= yield %>
  <br>

<!-- ######### -->

  <!-- <div class="ui massive star rating" data-max-rating="5">
    <i class="icon active"></i>
    <i class="icon active"></i>
    <i class="icon active"></i>
    <i class="icon"></i>
    <i class="icon"></i>
  </div> -->

  <!-- <div class="ui statistic">
    <div class="value">
      5,550
    </div>
    <div class="label">
      Downloads
    </div>
  </div> -->

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>
<!-- ########## -->
        </div>
      </div>
    </div>
  </body>
</html>
